* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #189d83;
}
.home {
  width: 43rem;
  height: 32.8rem;
  background-color: aliceblue;
  margin: 6rem auto;
  border-radius: 1%;
  overflow: hidden;
}

.head h2 {
  margin-left: 2.3rem;
  margin-top: 1rem;
}
section {
  margin-top: 2rem;
}
.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-left: 6rem;
}
.head {
  display: flex;
  margin-left: 4rem;
}
.account {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid gray;
  margin-left: 20rem;
  padding: 0.5rem;
  background-color: white;
}
.account:hover {
  box-shadow: -2px 2px 2px -2px gray;
}
.bicycle {
  width: 42rem;
  height: 27rem;
  margin-top: -2rem;
}
.item-type {
  font-size: 1.2rem;
  color: #78797a;
}
.total {
  color: #78797a;
}
.order {
  color: #7c8aa1;
  text-align: center;
  margin-top: 1rem;
}
h3 {
  margin-left: 12rem;
}
#to {
  font-size: 1.5rem;
}
